{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Foundation Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{#  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>#}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.carousel.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/owl.theme.css">


  <script src="{{ STATIC_URL }}js/jquery-2.2.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/owl-carousel/owl.carousel.js"></script>
  <script src="{{ STATIC_URL }}js/dashboard/dashboard.js" type="application/javascript"></script>
  <script src="{{ STATIC_URL }}js/foundation.min.js" type="application/javascript"></script>
  <script src="{{ STATIC_URL }}js/vendor/modernizr.js" type="application/javascript"></script>
  <script src="{{ STATIC_URL }}js/dashboard/crm_today.js" type="application/javascript"></script>
  <script>
      $(document).ready(function() {
              $(document).foundation();
               $("#owl-demo").owlCarousel({

                  navigation : true, // Show next and prev buttons
                  slideSpeed : 300,
                  paginationSpeed : 400,
                  singleItem:true,
                  autoPlay: 2000
               });
     })
   </script>
</head>
<body>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Customfunish DashBoard</h1>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list test">
        {% block nav_content %}
        <li><label>Menu</label></li>
        <li><a href='{% url 'LeadsDashboard.views.open_home_page' %}'>Home</a></li>
        <li><a href='{% url 'LeadsDashboard.views.get_leads_dashboard' %}'>CRM Lead Reports</a></li>
        <li><a href="#">CRM Potential Reports</a></li>
        <li><a href="#">Furniture Inventory Reports</a></li>
        <li><a href="#">Curtains Inventory Reports</a></li>
        <li><a href="#">Link 6</a></li>
        <li><a href="#">Link 7</a></li>
        <li><a href="#">Link 8</a></li>
        {% endblock %}
      </ul>
    </aside>
    <a class="exit-off-canvas"></a>
    {% block main_section %}

     {% endblock %}


  </div>
</div>
</body>
</html>
