{% extends 'base.html' %}
<body>
  {% block main_section %}

      <div class="row">
          <h3>Welcome to Customfurnish Backend Services</h3>
          <div class="large-10 medium-2 columns">
              <div id="owl-demo" class="owl-carousel owl-theme">
              <div class="item"><img src="{{ STATIC_URL }}img/homePage/cf_banner_image1.jpg"></div>
              <div class="item"><img src="{{ STATIC_URL }}img/homePage/cf_banner_image2.jpg"></div>
              <div class="item"><img src="{{ STATIC_URL }}img/homePage/cf_banner_image3.jpg"></div>
              </div>
          </div>
      </div>

  {% endblock %}
</body>